TRIM2/UD7/Dossier/Practica12/boletines.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="boletines">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="boletin" type="mixto">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="mixto" mixed="true">
		<xs:sequence>
			<xs:element name="nombre" type="xs:string"/>
			<xs:element name="apellidos" type="xs:string"/>
			<xs:element name="nota" type="xs:positiveInteger"/>
			<xs:element name="materia" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
